body {
    background-color: #121213;
}

#container {
    display: flex;
    background-color: #121213;
    overflow: hidden;
    height: 100vh;
    font-family: 'Roboto', sans-serif;

}

#aside {
    background-color: #121213;
    color: #e9ecf1;

}

#aside {
    height: 100%;

    top: 0;
    left: 0;
    width: 20%;
    overflow-y: scroll;
    padding: 10px;
    scrollbar-color: var(#121213);
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
}

#main {
    width: 80%;
    overflow-y: scroll;
    padding: 10px;
    scrollbar-color: var(#121213);
    scrollbar-color: transparent transparent;
}

#aside1 {
    display: flex;
    border-bottom: 0.025px solid rgb(227, 223, 223);
    padding-left: 5px;
}

.colom {
    display: flex;
    flex-direction: column;
}

#aside1 ul li {
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.aside2 ul li {
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.aside2 {
    border-bottom: 1px solid rgb(227, 223, 223);
    padding-left: 5px;
}

.aside-ul {
    padding: 0px;
    margin: 0px;
}

#sec {
    display: inline-block;
    padding: 10px 16px;
    border-radius: 5px;
    border-top-left-radius: 2px solid #4285f4;

}

#sec:hover {
    background-color: #4f4f4f;
}

#sec a {
    text-decoration: none;
    color: #4285f4;
    display: flex;
    align-items: center;/
}

#sec a .material-symbols-outlined {
    font-size: 24px;
    margin-right: 8px;
}


.sec a {
    text-decoration: none;
    color: #4285f4;
    display: flex;
    align-items: center;/
}

.sec a .material-symbols-outlined {
    font-size: 24px;
    margin-right: 8px;
}

#logo {
    font-size: x-large;
}



#aside li:hover {
    background-color: #bdbbbb;
    border-radius: 8px;
    padding: 5px;
}




.search-container {
    display: flex;
    align-items: center;
    background-color: rgb(79, 76, 76);
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px 15px;
    width: 400px;
}

.search-input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
}

.search-button {
    background-color: #575454;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 25px;
    color: white;
    font-size: 16px;
}

.search-button:hover {
    background-color: #cc0000;
}


#main1 {
    display: flex;


    padding: 20px;

}

#main1 {

    justify-items: center;
    align-items: center;
    justify-content: space-between;

}


#main1b {
    color: white;


}

#main2 {

    display: flex;
    justify-content: space-between;
    color: white;


}


#couliser {
    overflow-x: scroll;
    justify-content: space-between;
    display: flex;
}


#main2 p {
    background-color: #272727;
    border-radius: 8px;
    padding: 3px;

}

#main2 p:hover {
    background-color: #4a4949;
    border-radius: 8px;
    padding: 5px;
}




#main3 {

    color: #e9ecf1;
}

#main3a {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #f4f4f6;
    padding-top: 24px;

}

.imgcircle {
    clip-path: circle();
}

.photo {
    border-radius: 15px;
    width: 450px;
}

.photo:hover {
    filter: grayscale(50%) sepia(30%);
}

.main3 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.titre {
    font-weight: bold;
    padding-left: 5px;

}


.subtitles {
    font-size: 16px;
    color: rgb(154, 151, 151);
    padding-left: 5px;

    max-width: 90%;


}



img {

    height: 273px;


}

div img {
    object-fit: cover;
}



#main1b span:hover {
    border-radius: 50%;
    background-color: #4f4f4f;
    padding: 10px;

    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.GriAccueil {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

/*============================================================================*/
.item {
    flex: 0 0 calc(33.33% - 10px);
    /* Chaque élément prend environ 33.33% de la largeur du conteneur */
    box-sizing: border-box;


}

.titre img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.titre p{
    align-content: center;
}




#footer-mobil{
    color: white;
    display: none;
    flex-direction: row;
    justify-content: space-between;
}
#footer-mobil span{
    color: white;
    font-size: smaller;
}

.footer-mobil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo-mobile{ 
    display: none;
}



#main3 {
    opacity: 0;          /* Initialement l'élément est invisible */
    animation: fadeIn 0.5s forwards;  /* L'animation dure 1 seconde et restera dans son état final */
    animation-delay: 0.5s; /* L'animation commencera après un délai de 1 seconde */
  }
  
  /* Définir l'animation "fadeIn" */
  @keyframes fadeIn {
    0% {
      opacity: 0;  /* L'élément commence invisible */
    }
    100% {
      opacity: 1;  /* L'élément devient totalement visible */
    }
  }


 /* Animation pour faire clignoter #sec */
#main1 #sec {
  animation: blink 1.5s infinite; /* L'animation dure 1 seconde et se répète indéfiniment */
}

.aside2 #sec {
    animation: blink 1.5s infinite; /* L'animation dure 1 seconde et se répète indéfiniment */
  }


  #head#sec {
    animation: blink 1.5s infinite; /* L'animation dure 1 seconde et se répète indéfiniment */
  }

/* Définir l'animation "blink" */
@keyframes blink {
  0% {
    opacity: 1;  /* L'élément est visible au début */
  }
  50% {
    opacity: 0;  /* L'élément devient invisible à mi-chemin */
  }
  100% {
    opacity: 1;  /* L'élément redevient visible à la fin */
  }
}









