@media (max-width: 768px) {




    /* Masquer la section .aside2 sur les écrans plus petits (tablettes portrait, smartphones) */
    .aside2 {
        display: none;
    }

    #aside{
        display:none;
    }

    #main{
        width: 100%;
    }

    
    #logo-mobile{
        display: flex;
        align-items: center;
    }
    #logo-mobile #logo{
        font-size: x-large;
    }

}


@media (max-width: 456px) {


    /*==============================================================*/
    #footer-mobil{
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        bottom:0;
        width:100%;
        height: 10%;
        background-color: #121213;;
    }
    #footer-mobil span{
        color: white;
    }
    
    .footer-mobil{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #footer-mobil .material-symbols-outlined{

        font-size: x-large;
    }

    #footer-mobil p{
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;

    }

    #footer-mobil{
     padding-left: 0;
     padding-right: 10px;
    }


    #main1{
        display: flex;
        flex-direction: column-reverse;
    }




    /*==============================================================*/
   
     .search-box{
        border-radius: 50px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 5px 15px;
        

     }
    .search-container {
        display: flex;
        align-items: center;
        background-color: rgb(79, 76, 76);
        border-radius: 60px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 5px 15px;
        width: 100%;
    }

    .search-input {
        border: none;
        outline: none;
        flex-grow: 1;
        padding: 5px;
        font-size: 16px;
        border-radius: 25px;
        width: 100%;
    }

    .search-button {
        background-color: #575454;
        border: none;
       
      margin: 0%;
        cursor: pointer;
        border-radius: 10px;
        color: white;
        font-size: 8px;
        width: 54px;
        
    }

    .search-button:hover {
        background-color: #cc0000;
    }


    #aside1 {
        width: 100%;
    }

    #logo,
    #aside1 li {
        font-size: x-small;


    }

    img {
        width: 80%;
    }

    .photo {
        width: 300px;
        /* Réduit la taille de l'image sur les écrans moyens et petits */
        height: 180px;
        /* Ajuste aussi la hauteur pour garder le ratio */
    }


    #main3a {
        display: block;
    }


}